<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns:th="http://www.thymeleadf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <script type="text/javascript" th:inline="javascript">
        /*[[*/
        window.setTimeout(function(){
        window.location.href=/*[[@{/chess_lobby}]]*/;
        }, 4000);
        /*]]*/
    </script>
    <title>Success!</title>
</head>
<body style="scroll-behavior: auto;">
    <h3>You've successfully registered!</h3>
    <h5>You'll be redirected in seconds, please wait...</h5>
</body>
</html>
