<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" xmlns:th="http://www.thymeleadf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">-->
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <title>Please sign up</title>
</head>
<body style="scroll-behavior: auto;">
    <div class="container">
        <form th:action="@{/process_registration}" class="form-signin" method="post">
            <h2 class="form-signin-heading">Please sign up</h2>
            <p>
                <label for="username" class="sr-only" th:field="*{username}">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
            </p>
            <p>
                <label for="email" class="sr-only" th:field="*{email}">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="">
            </p>
            <p>
                <label for="password" class="sr-only" th:field="*{password}">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            </p>
<!--            <p>-->
<!--                <label for="confirm-password" class="sr-only" th:field="*{confirm_password}">Confirm Password</label>-->
<!--                <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirm Password" required="">-->
<!--            </p>-->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </div>
</body>
</html>
